
%h2 Opret bruger
= form_for @user do |f|
  .row.collapse.field
    .small-2.columns
      %span.prefix
        %i.fi-torso
    .small-10.columns
      = f.text_field :full_name, {placeholder: "Fulde navn"}
  .row.collapse.field
    .small-2.columns
      %span.prefix
        %i.fi-web
    .small-10.columns
      = f.email_field :email, {placeholder: "E-mail"}
  .row.collapse.field
    .small-2.columns
      %span.prefix
        %i.fi-lock
    .small-10.columns
      = f.password_field :password, {placeholder:"Adgangskode"}
  .row.collapse.field
    .small-2.columns
      %span.prefix
        %i.fi-lock
    .small-10.columns
      = f.password_field :password_confirmation, {placeholder:"Adgangskode igen"}
  .actions
    = f.submit 'Tilmeld', {class:"button expand"}