= form_for @reservation, remote:true, data: {'type' => 'json'} do |f|
  .row#printer-row
    .field.small-12.column
      = f.label :printer_id, "Printer"
      = f.collection_select(:printer_id, Printer.all, :id, :name)
  .row
    .field.small-12.medium-6.column
      = f.label :starts_at_date, "Dato"
      = f.date_field :starts_at_date
    .field.small-12.medium-6.column
      = f.label :starts_at_time, "Tid"
      = f.time_field :starts_at_time, {step: 600}
  .row
    .small-12.column
      = f.label :duration, "Forventet varighed"
      .range-slider#reservation_duration_slider{:data => {'slider' => '', 'options' => 'start: 0; end:720; step: 10;'}}
        %span.range-slider-handle{:role => "slider", :tabindex => "0"}
        %span.range-slider-active-segment
        = f.hidden_field :duration

  .row#duration_row
    .small-6.column
      .row.collapse
        .small-6.columns
          %input#reservation_duration_hours{type:"number",min:-1 , max:12, value: 6}
        .small-6.columns
          %span.postfix Timer
    .small-6.column
      .row.collapse
        .small-6.columns
          %input#reservation_duration_minutes{type:"number", min:-10, max:60, step: 10, value: 0}
        .small-6.columns
          %span.postfix Minutter

  .row
    .small-12.column
      .actions
        = f.submit "Reservér", {class:"button expand"}