%h2 Vis reservation
%p
  %b Bruger:
  = link_to @reservation.user.format_name, @reservation.user, {data: {reveal_id:"show_user", reveal_ajax:"true"}}
  %br/
  %b Dag:
  = @reservation.starts_at.strftime("%d/%m")
  %br/
  %b Klokken:
  = "#{@reservation.starts_at.strftime("%H:%M")} - #{@reservation.ends_at.strftime("%H:%M")}"
  %br/
  %b Varer
  = duration @reservation
  
  - if signed_in? and (@reservation.user == current_user or current_user.admin)
    = button_to "Slet", @reservation, {method: :delete, class: "button expand alert"}