.row{style: "margin-top: 10px;"}
  .medium-6.large-4.xlarge-3.xxlarge-2.column
    = form_tag printers_path, method: 'get' do
      = label_tag :date, "Dato"
      .row.collapse
        .small-6.columns
          %span.prefix#date-prefix
        .small-6.columns
          = date_field_tag :date, @date
  .medium-6.large-4.xlarge-3.xxlarge-2.column
    = link_to "Reservér en printer", new_printer_reservation_path(@printers.sample), {class:"button expand", style:"top:21px;", data: {reveal_id: "new_reservation", reveal_ajax: true}}
  .medium-12.large-2.column.hide-for-small-only
    = form_tag settings_path, {method: 'post', id:"update_settings", remote: true} do
      %fieldset
        %legend Indstillinger
        = label_tag :current_time, 'Vis klokken'
        = check_box :current_time, :show, {checked: cookies[:current_time]!='0'}
        %br/
        = label_tag :something, 'Vis noget'
        = check_box :something, :show, {checked: cookies[:something]!='0'}
%hr
%table#bookings_table.hide-for-small-only
  %thead
    %tr
      - @printers.each do |printer|
        %th.text-center.printer-header{data: {id: printer.id, name: printer.name}}
          = printer.name
  %tbody
    %tr{data: {date:@date}}
      - @printers.each do |printer|
        %td
          = render printer.reservations.relevant(@date)
          = link_to "Ny reservation", new_printer_reservation_path(printer), data: {reveal_id: "new_reservation", reveal_ajax: true}

%dl.accordion.show-for-small-only{"data-accordion" => ""}
  - @printers.each do |printer|
    %dd.accordion-navigation
      = link_to printer.name, "#printer#{printer.id}"
      .content.printer{id: "printer#{printer.id}"}
        = render printer.reservations.relevant(@date)
        = link_to "Ny reservation", new_printer_reservation_path(printer), data: {reveal_id: "new_reservation", reveal_ajax: true}

#show_printer.tiny.reveal-modal{"data-reveal" => ""}
  %p
    %b Navn: 
    %span#name
  %a.close-reveal-modal ×
#show_reservation.tiny.reveal-modal{"data-reveal" => ""}
  %p
    %b ID: 
    %span#id
    %br/
    %b Klokken: 
    %span#starts_at
    %span -
    %span#ends_at
    %br/
    %b Varer: 
    %span#duration
  %a.close-reveal-modal ×
#new_reservation.small.reveal-modal{"data-reveal" => ""}