.row{style: "margin-top: 10px;"}
  .medium-6.large-4.xlarge-3.xxlarge-2.column
    = form_tag printers_path, method: 'get' do
      = label_tag :date, "Dato"
      .row.collapse
        .small-6.columns
          %span.prefix#date-prefix
        .small-6.columns
          = date_field_tag :date, @date
  .medium-6.large-4.xlarge-3.xxlarge-2.column
    = link_to "Reservér en printer", "#", {class:"button expand", id:"new_reservation_button", style:"top:21px;"}
  .medium-12.large-4.column.hide-for-small-only
    = form_tag update_settings_path, {id:"update_settings", method: :put, remote: true} do
      %label Indstillinger
      .panel
        .row
          .small-6.column
            = label_tag :current_time, 'Vis klokken'
            = check_box :current_time, :toggle, {checked: cookies[:current_time]!='0'}
          .small-6.column
            = label_tag :something, 'Vis noget andet'
            = check_box :something, :toggle, {checked: cookies[:something]!='0'}
/%hr
%table#bookings_table.hide-for-small-only
  %thead
    %tr
      %td
      - @printers.each do |printer|
        %th.text-center.printer-header{data: {id: printer.id, name: printer.name}}
          = printer.name
  %tbody
    %tr{data: {date: @date}}
      %th
        %p 06:00
        %p 08:00
        %p 10:00
        %p 12:00
        %p 14:00
        %p 16:00
      - @printers.each do |printer|
        %td{data: {printer_id: printer.id}}
          = render printer.reservations.relevant(@date)
 
#show_printer.tiny.reveal-modal{"data-reveal" => ""}
  %p
    %b Navn: 
    %span#name
  %a.close-reveal-modal ×
#show_reservation.tiny.reveal-modal{"data-reveal" => ""}
  %p
    %b ID: 
    %span#id
    %br/
    %b Klokken: 
    %span#starts_at
    %span -
    %span#ends_at
    %br/
    %b Varer: 
    %span#duration
  %a.close-reveal-modal ×
#show_this.small.reveal-modal{"data-reveal" => ""}
  - if signed_in?
    = render 'reservations/form'
  - else
    #new_session
      = render 'sessions/form'
  %a.close-reveal-modal ×
#new_user.tiny.reveal-modal{"data-reveal" => ""}
  = render 'users/form'
  %a.close-reveal-modal ×