.row{style: "margin-top: 10px;"}
  .medium-6.large-4.xlarge-3.xxlarge-2.column
    = form_tag printers_path, method: 'get' do
      = label_tag :date, "Dato"
      .row.collapse
        .small-6.columns
          %span.prefix#date-prefix
        .small-6.columns
          = date_field_tag :date, @date
  .medium-6.large-4.xlarge-3.xxlarge-2.column
    = link_to "Reservér en printer", "#", {class:"button expand", id:"new_reservation_button", style:"top:21px;"}
  .medium-12.large-4.column.hide-for-small-only
    = form_tag update_settings_path, {id:"update_settings", method: :put, remote: true} do
      %label Indstillinger
      .panel
        .row
          .small-6.column
            = label_tag :current_time, 'Vis klokken'
            = check_box :current_time, :toggle, {checked: cookies[:current_time]!='0'}
          .small-6.column
            = label_tag :something, 'Vis noget andet'
            = check_box :something, :toggle, {checked: cookies[:something]!='0'}
/%hr
%table#bookings_table.hide-for-small-only
  %thead
    %tr
      - @printers.each do |printer|
        %th.text-center.printer-header{data: {id: printer.id, name: printer.name}}
          = printer.name
  %tbody
    %tr{data: {date:@date}}
      - @printers.each do |printer|
        %td{data: {printer_id:printer.id}}
          = render printer.reservations.relevant(@date)

%dl.accordion.show-for-small-only{"data-accordion" => ""}
  - @printers.each do |printer|
    %dd.accordion-navigation
      = link_to printer.name, "#printer#{printer.id}"
      .content.printer{id: "printer#{printer.id}"}
        = render printer.reservations.relevant(@date)

#show_printer.tiny.reveal-modal{"data-reveal" => ""}
  %p
    %b Navn: 
    %span#name
  %a.close-reveal-modal ×
#show_reservation.tiny.reveal-modal{"data-reveal" => ""}
  %p
    %b ID: 
    %span#id
    %br/
    %b Klokken: 
    %span#starts_at
    %span -
    %span#ends_at
    %br/
    %b Varer: 
    %span#duration
  %a.close-reveal-modal ×
#new_reservation.small.reveal-modal{"data-reveal" => ""}
  = render 'reservations/form'
  %a.close-reveal-modal ×
#new_user.small.reveal-modal{"data-reveal" => ""}
  .signup-panel
    %p.welcome Opret bruger
    = form_for @user do |f|
      .row.collapse.field
        .small-2.columns
          %span.prefix
            %i.fi-torso
        .small-10.columns
          = f.text_field :full_name, {placeholder: "Fulde navn"}
      .row.collapse.field
        .small-2.columns
          %span.prefix
            %i.fi-web
        .small-10.columns
          = f.email_field :email, {placeholder: "E-mail"}
      .row.collapse.field
        .small-2.columns
          %span.prefix
            %i.fi-lock
        .small-10.columns
          = f.password_field :password, {placeholder:"Adgangskode"}
      .row.collapse.field
        .small-2.columns
          %span.prefix
            %i.fi-lock
        .small-10.columns
          = f.password_field :password_confirmation, {placeholder:"Adgangskode igen"}
      .actions
        = f.submit 'Opret Bruger', {class:"button expand"}

  %a.close-reveal-modal ×

#new_session.small.reveal-modal.remove-whitespace{"data-reveal" => ""}
  .row
    .large-6.columns.auth-plain
      .signup-panel.left-solid
        %p.welcome Registrerede brugere
        %form
          .row.collapse
            .small-2.columns
              %span.prefix
                %i.fi-torso
            .small-10.columns
              %input{:placeholder => "Username", :type => "text"}
          .row.collapse
            .small-2.columns
              %span.prefix
                %i.fi-lock
            .small-10.columns
              %input{:placeholder => "Password", :type => "text"}
        %a.button.expand{:href => "#"} Log In
        %a.button.expand.hide-for-large-up{"data-reveal-id" => "new_user", :href => "#"} Opret Bruger
    .large-6.columns.auth-plain.show-for-large-up
      .signup-panel.newusers
        %p.welcome Ny bruger?
        %p Du skal være oprettet som bruger og logget for at kunne reservere gymnasiets 3D printere.
        %br
          %a.button.expand{"data-reveal-id" => "new_user", :href => "#"} Opret Bruger
  %a.close-reveal-modal ×