.row{style: "margin-top: 10px;"}
  .medium-6.large-4.xlarge-3.xxlarge-2.column
    = form_tag printers_path, method: 'get' do
      = label_tag :date, "Dato"
      .row.collapse
        .small-6.columns
          %span.prefix= get_weekday_in_danish @date
        .small-6.columns
          = date_field_tag :date, @date
  .medium-6.large-2.column
    = form_tag settings_path, method: 'post' do
      = label_tag :current_time, "Vis klokken"
      = check_box_tag :current_time, checked = cookies[:current_time], {id: "hest"}
      = submit_tag "Prøv"
%hr
%table#bookings_table.hide-for-small-only
  %thead
    %tr
      - @printers.each do |printer|
        %th.text-center
          = link_to printer.name, printer, {class:"has-tip tip-top radius", "aria-haspopup" => "true", title: "Lokale: 147", "data-tooltip" => "", data: {reveal_id: "show_printer", reveal_ajax: true}}
  %tbody
    %tr
      - @printers.each do |printer|
        %td.printer
          /.current_time{style: "top: #{((Time.now.hour*60)+Time.now.min)*(25.0/60.0)}px"}

          = render printer.reservations.relevant(@date)
          = link_to "Ny reservation", new_printer_reservation_path(printer), data: {reveal_id: "new_reservation", reveal_ajax: true}

%dl.accordion.show-for-small-only{"data-accordion" => ""}
  - @printers.each do |printer|
    %dd.accordion-navigation
      = link_to printer.name, "#printer#{printer.id}"
      .content.printer{id: "printer#{printer.id}"}
        = render printer.reservations.relevant(@date)
        = link_to "Ny reservation", new_printer_reservation_path(printer), data: {reveal_id: "new_reservation", reveal_ajax: true}

#show_printer.tiny.reveal-modal{"data-reveal" => ""}
#new_reservation.small.reveal-modal{"data-reveal" => ""}
#show_reservation.tiny.reveal-modal{"data-reveal" => ""}