.row{style: "margin-top: 10px;"}
  .medium-6.large-4.xlarge-3.xxlarge-2.column.small-centered
    = form_tag printers_path, method: 'get' do
      = label_tag :date, "Dato"
      .row.collapse
        .small-6.columns
          %span.prefix#date-prefix= weekday @date || Date.today
        .small-6.columns
          = date_field_tag :date, @date || Date.today
.row
  .medium-6.large-4.xlarge-3.xxlarge-2.column.small-centered
    - if signed_in? 
      = link_to "Reserver Printer", new_reservation_path, {class:"button expand", style:"top:21px;", id: "new_reservation_button", data: {reveal_id: "new_reservation"}}
    %hr
%table#bookings_table
  %thead
    %tr
      %td
      - @active_printers.each do |printer|
        %th.text-center.printer-header{data: {id: printer.id, name: printer.name}}
          - if signed_in?
            - if current_user.admin
              = link_to printer.name, edit_printer_path(printer), {data:{reveal_id:"edit_printer", reveal_ajax:"true"}}
            - else
              = link_to printer.name, printer, {data:{reveal_id:"show_printer", reveal_ajax:"true"}}
          - else
            = printer.name

      - if signed_in?
        - if current_user.admin
          %th.text-center.printer-header
            = link_to "+", new_printer_path, {data: {reveal_id:"new_printer", reveal_ajax:"true"}}
  %tbody
    %tr{data: {date: @date || Date.today}}
      %th
        %p 06:00
        %p 08:00
        %p 10:00
        %p 12:00
        %p 14:00
        %p 16:00
        %p 18:00
      - @active_printers.each do |printer|
        %td{data: {printer_id: printer.id}, id:printer.id}
          = render printer.reservations.relevant(@date || Date.today)
 
- if signed_in?
  #new_reservation.small.reveal-modal{"data-reveal" => ""}
    = render 'reservations/form'
    %a.close-reveal-modal ×
  #show_printer.tiny.reveal-modal{"data-reveal" => ""}
  #show_reservation.small.reveal-modal{"data-reveal" => ""}
  #show_user.small.reveal-modal{"data-reveal" => ""}
  #edit_user.tiny.reveal-modal{"data-reveal" => ""}
- else
  #new_session.small.reveal-modal{"data-reveal" => ""}
    = render 'sessions/form'
    %a.close-reveal-modal ×
  #new_user.tiny.reveal-modal{"data-reveal" => ""}
    = render 'users/form'
    %a.close-reveal-modal ×
-if signed_in? and current_user.admin
  #admin_menu.large.reveal-modal{"data-reveal" => ""}
    %h2 Administrator menu
    .row
      .large-6.columns.right
        %h4 Brugere
        = form_tag users_path, :method => 'get', :id => "search_users", remote:true do
          = search_field_tag :search, nil, {placeholder: "Søg efter brugere"}
        %ul#search_results
      %hr.hide-for-large-up
      .large-6.columns.left
        %h4 Aktive printere
        %ul#active-printers
          = render @active_printers
        %h4 Inaktive printere
        %ul#inactive-printers
          = render @inactive_printers

  #new_printer.tiny.reveal-modal{"data-reveal" => ""}
  #edit_printer.tiny.reveal-modal{"data-reveal" => ""}